amqp==5.1.1
black==22.10.0
Django==4.0.8
django-celery-beat==2.3.0
django-cors-headers==3.13.0
django-filter==22.1
django-rest-swagger==2.2.0
django-timezone-field==5.0
djangorestframework==3.14.0
ipython==8.5.0
jedi==0.18.1
pre-commit==2.20.0